<!DOCTYPE html>
<html>
<head>
  <title>Payment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/static/dist/payment.css" />
</head>
<body>
  <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Payment</h2>
          <!--p>Choose Payment Method.</p-->
        </div>
        <form>
          <div class="products">
            <h3 class="title">Checkout</h3>
            <div class="item">
              <span class="price">Ksh 200</span>
              <p class="item-name">Geodetic Control</p>
              <p class="item-description">{{ skp_label }}</p>
            </div>
            <!--div class="item">
              <span class="price">$120</span>
              <p class="item-name">Product 2</p>
              <p class="item-description">Lorem ipsum dolor sit amet</p>
            </div-->
            <div class="total">Total<span class="price">Ksh 200</span></div>
          </div>
          <hr>
     
        </form>

        <form method="post" action="https://www.mobicardsystems.com/paynow">
	
			<!--Required Fields Below-->	
			<input type="hidden" id="Mobicard_MerchantID" name="Mobicard_MerchantID" value="1594"> 
			<input type="hidden" id="Mobicard_API_Key" name="Mobicard_API_Key" value="ZTRkYTI4MGQxNTI2ZDM4NjU0NjM0MDk4NTk2YTAzNGI3ZGVmMDE4OGU0MDU0In0=">
			<input type="hidden" id="Mobicard_Payment_Set" name="Mobicard_Payment_Set" value="2"> 
			<input type="hidden" id="Mobicard_Mode" name="Mobicard_Mode" value="TEST">
			<!--input type="hidden" id="Mobicard_Transaction_Reference" name="Mobicard_Transaction_Reference" value="1234567890"--> 	
																				
			<!-- THE FIELDS BELOW ARE OPTIONAL, DEPENDING ON WHETHER THE MERCHANT WANTS THE USER TO INPUT 
			THE DESCRIPTION, AMOUNT AND CURRENCY. IF THE MERCHANT NEEDS TO SEND THESE VALUES, THEN ALL THE THREE MUST BE SENT.
			THE CURRENCY CAN BE EITHER USD OR KES WHILE THE AMOUNT MAY BE AN INTEGER OR WITH UPTO TWO DECIMAL PLACES
			The TEST CARD NUMBER is 4242424242424242 . Use with any date and any 3-digit number for CVV.-->
			
			<!--Optional Fields-->								
			<!--input type="hidden" id="Mobicard_Item_Description" name="Mobicard_Item_Description" value="TRANSACTION DESCRIPTION">
			<input type="hidden" id="Mobicard_Order_Currency" name="Mobicard_Order_Currency" value="USD"> 
			<input type="hidden" id="Mobicard_Order_Amount" name="Mobicard_Order_Amount" value="100"---> 
			
			<!--Extra Optional Fields-->
			<!--input type="hidden" id="Mobicard_First_Name" name="Mobicard_First_Name" value="Test"> 
			<input type="hidden" id="Mobicard_Last_Name" name="Mobicard_Last_Name" value="Client">    
			<input type="hidden" id="Mobicard_Address" name ="Mobicard_Address" value="P.O BOX 36457">
			<input type="hidden" id="Mobicard_Postal_Code" name ="Mobicard_Postal_Code" value="00800"> 
			<input type="hidden" id="Mobicard_Country_Code" name ="Mobicard_Country_Code" value="KE">
			<input type="hidden" id="Mobicard_Email" name ="Mobicard_Email" value="markmathenge@gmail.com"> 
			<input type="hidden" id="Mobicard_Mobile_Number" name ="Mobicard_Mobile_Number" value="+254700123456"--> 
																					
			<button class="btn-lg btn-primary"><img src="https://www.mobicardsystems.com/images/paynow.png" width="130" height="35" /></button>
				
			<!--DONATE BUTTON-->
			<!--button class="btn-lg btn-primary"><img src="https://www.mobicardsystems.com/images/donate.png" width="130" height="35" /></button-->
												
		</form>



		

      </div>
    </section>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>