<!DOCTYPE html>
<html>
<head>
  <title>Payment Received</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/static/dist/payment.css" />
</head>
<body>
  <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Success</h2>
          <p>Payment Received.</p>
        </div>
        <h3>Transactions</h3>
        <table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Transaction Date</th>
		      <th scope="col">Gateway</th>
		      <th scope="col">Transaction ID</th>
		      <th scope="col">Amount</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">29/01/2018</th>
		      <td>MPESA</td>
		      <td>MIS2WJABX2</td>
		      <td>Ksh 200.00</td>
		    </tr>
		    <tr>
		      <th scope="row">Balance</th>
		      <td></td>
		      <td></td>
		      <td>Ksh 0.00</td>
		    </tr>
		    
		  </tbody>
		</table>

      

		

      </div>
    </section>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>